@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');

@import "tailwindcss";
@config "../tailwind.config.js";

body {
  font-family: 'Poppins', sans-serif;
  background-color: #f9fafb;
  color: #1f2937;
  margin: 0;
  padding: 0;
}

html {
  scroll-behavior: smooth;
}

/* Custom Scrollbar for a premium feel */
::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background: #f1f1f1; 
}

::-webkit-scrollbar-thumb {
  background: #0077b6; 
  border-radius: 5px;
}

::-webkit-scrollbar-thumb:hover {
  background: #03045e; 
}
